<section>
  <!--banner  -->
  <div id="rowBanner" class="row container-fluid">
     <h1 id="h1"> <span style="--i:1">C</span>
      <span style="--i:2">E</span>
      <span style="--i:3">L</span>
      <span style="--i:4">E</span>
      <span style="--i:5">B</span>
      <span style="--i:6">R</span>
      <span style="--i:7">A</span>
      <span style="--i:8">T</span>
      <span style="--i:9">E</span>
      <br>
      <span style="--i:10">Y</span>
      <span style="--i:11">O</span>
      <span style="--i:12">U</span>
      <span style="--i:13">R</span>
      &nbsp;
      <span style="--i:14">L</span>
      <span style="--i:15">I</span>
      <span style="--i:16">F</span>
      <span style="--i:17">E</span>
    </h1>
    
 
    <div class="bannerBtn">
      <button  routerLink="men" class="b1 btn btn-dark">MEN'S SALE</button>
      <button  routerLink="women" class=" b2 btn btn-dark">WOMEN'S SALE</button>

    </div> 
  </div>

<div >
</div>
<!-- Gallery -->
<div class="p-5 m-3">
<div  class="row ">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img id="img"
      src="https://assets.ajio.com/medias/sys_master/root/20220929/iDey/6334c54ef997dd1f8d25d4f2/-473Wx593H-465076117-grey-MODEL.jpg"
      class="w-100 shadow-1-strong rounded mb-4" routerLink="men"
      alt="women's dress"
    />

  </div>

  <div class="col-lg-4 mb-4 mb-lg-0 ">
    <img  id="img"
    src="https://assets.ajio.com/medias/sys_master/root/20220503/iyJM/62713f84aeb26921af52b101/-473Wx593H-464277781-black-MODEL.jpg"
    class="w-100 shadow-1-strong rounded mb-4"routerLink="women"
    alt="dress"
  />

  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img id="img"
    src="https://assets.ajio.com/medias/sys_master/root/20221123/zUpf/637d4106aeb269659ca84de2/-473Wx593H-465324816-tan-MODEL.jpg"
      class="w-100 shadow-1-strong rounded mb-4"routerLink="moreProducts"
      alt="dress"
    />


  </div>
</div>
</div>

<!-- Gallery -->



<!-- content seperator -->
<div class="contentSeperator">
  <div >
         <h1>DON'T WAIT TO GET
THE HOTEST LOOK</h1>

  <button  routerLink="moreProducts" class="btn btn-dark p-2 mt-3">Shop More</button>
   
 </div>
  </div>


  <!-- new arrivals -->
  <div class="newArr">
<div class="newArrivals">
   <div id="newArrivals">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
          <img src="https://assets.ajio.com/cms/AJIO/WEB/D-Bestsellers-p1-bestofwinter-upto75.jpg" class="d-block w-100" style="height: 600px;width: 500px;" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="https://assets.ajio.com/cms/AJIO/WEB/03122022-D-UHP-topbanner-Prebuzz-5090-FINAL.gif" class="d-block w-100"style="height: 600px;width: 500px;" alt="...">
        </div>
        <div class="carousel-item "data-bs-interval="1000">
          <img src="https://assets.ajio.com/cms/AJIO/WEB/2122022-d-uhp-topbanner-p4-brandparty-min40extra35.jpg" class="d-block w-100"style="height: 600px;width: 500px;" alt="...">
        </div>
      </div>
      
    </div>
   </div>
   <div>

    
   </div>

</div >
</div>
 


<!-- content seperator -->
<div class="contentSeperator">
  <div class="container">
         <h1>FRESH DEALS  for a Fresh Wardrobe</h1>
         <h3>.....Discover More.....</h3>

  
   <button  routerLink="men"  class="b1 btn btn-dark mt-4">SHOP FOR HIM</button>
   
   <button  routerLink="women" class=" b2 btn btn-dark mx-5 mt-4">SHOP FOR HER</button>
 </div>
  </div>

  


</section>